<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload file</title>
    <link rel="shortcut icon" href="./img/HIT-logo.png" type="image/x-icon">
    <link
      rel="stylesheet"
      href="./bootstrap-4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="./font-awesome/css/all.min.css"
    />
    <style>
      *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      body{
        width: 100%;
        padding-top: 20px;
      }
      pre{
        font-size: xx-large;
        width: 75%;
        margin: 0 auto;
        font-family: 'Times New Roman', Times, serif;
        overflow-x: auto;
        word-wrap: break-word;
        white-space: pre-wrap;
      }
    </style>
  </head>
  <body>
    <pre>
      Bài 1 (2đ): Nhập vào 1 chuỗi. Đếm và tính tích các ký tự số là ước của tổng các chữ số trong chuỗi.
      In kết quả ra màn hình (kết quả bao gồm số ký tự số và tích).
      VD: bn01da6d47 => có 5 ký tự số và tích = 6
      Giải thích:
      Tổng các chữ số: 0 + 1 + 6 + 4 + 7 = 18
      Các số là ước của 18: 1, 6 => tích = 1x6 = 6

      Bài 2: Chương trình quản lý sách: 
      Lớp Document (tài liệu) bao gồm thuộc tính: id, name, publisher, price. Các phương thức nhập, xuất, và các phương thức cần thiết khác. (0.5đ)
      -	Input(): để nhập giá trị cho các thuộc tính của lớp.
      -	Output(): để xuất giá trị cho các thuộc tính của lớp.
      Lớp Book (sách) kế thừa các thuộc tính và phương thức của lớp Document và có thêm các thuộc tính: numOfPage, author.
      Các phương thức nhập, xuất, và các phương thức cần thiết khác. (0.5đ)
      -	Input(): để nhập giá trị cho các thuộc tính của lớp.
      -	Output(): để xuất giá trị cho các thuộc tính của lớp.
      /****************************************/
      1. Add book. (1đ)
      2. Edit book by id. (1đ)
      3. Delete book by id.  (1đ)
      4. Sort book by name (ascending). (1đ)
      5. Sort book by price (descending). (1đ)
      6. Show all books. (1đ)
      0. Exit. (1đ)
      /****************************************/
      Yêu cầu: Tạo ra menu cho người dùng lựa chọn để thực hiện các chức năng trên.

    </pre>
  </body>
</html>
